a,
a:hover {
  text-decoration: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rc-slider {
  top: -7px;
}

.rc-slider-handle:active {
  box-shadow: 0 0 5px #0000ff70;
}
.rc-slider-handle:focus {
  box-shadow: 0 0 5px #0000ff70;
}
.rc-slider-step {
  height: 2px;
}
